<div>
    <div class="dock-window" style="height : 80vh">
        <p-dock [model]="dockBasicItems" position="left">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.icon" [alt]="item.label" width="100%">
            </ng-template>
        </p-dock>
        <p-dialog header="New Bill" [(visible)]="newBillDialog" [modal]="true" [style]="{width: '80vw'}"
            [maximizable]="true" [baseZIndex]="10000" [draggable]="true" [resizable]="true">
            <div class="card">
                <form [formGroup]="newBill">
                    <div class="formgrid grid">
                        <div class="field col">
                            <p-chip [label]="billNumber" styleClass="mr-2 custom-chip"></p-chip>
                            <!-- <label for="firstname2">Bill Number</label>
                            <input id="disabled-input" type="text" pInputText [disabled]="disabled" [(ngModel)]="billNumber" /> -->
                        </div>
                    </div>
                    <div class="formgrid grid pt-3">
                        <div class="field col">
                            <span class="p-float-label">
                                <input id="float-input" type="text" pInputText formControlName="firstName"> 
                                <label for="float-input">First Name</label>
                            </span>
                            <!-- <label for="firstname2">Firstname</label>
                            <input id="firstname2" type="text" formControlName="firstName" class="inputfield w-full"> -->
                        </div>
                        <div class="field col">
                            <span class="p-float-label">
                                <input id="float-input" type="text" pInputText formControlName="lastName"> 
                                <label for="float-input">Last Name</label>
                            </span>
                            <!-- <label for="lastname2">Lastname</label>
                            <input id="lastname2" type="text" formControlName="lastName" class="inputfield w-full"> -->
                        </div>
                        <div class="field col">
                            <span class="p-float-label">
                                <input id="float-input" type="text" pInputText formControlName="test"> 
                                <label for="float-input">Test</label>
                            </span>
                            <!-- <label for="test">Test</label>
                            <input id="test" type="text" formControlName="test" class="inputfield w-full"> -->
                        </div>
                        <div class="field col">
                            <span class="p-float-label">
                                <input id="float-input" type="number" pInputText formControlName="total" (change)="calculateBalance()" (keyup)="calculateBalance()"> 
                                <label for="float-input">Total</label>
                            </span>
                            <!-- <label for="lastname2">Total</label>
                            <input id="lastname2" type="number" formControlName="total" class="inputfield w-full"> -->
                        </div>
                        <div class="field col">
                            <span class="p-float-label">
                                <input id="float-input" type="number" pInputText formControlName="paid" (change)="calculateBalance()"  (keyup)="calculateBalance()"> 
                                <label for="float-input">Paid</label>
                            </span>
                            <!-- <label for="lastname2">Paid</label>
                            <input id="lastname2" type="number" formControlName="paid" class="inputfield w-full"> -->
                        </div>

                    </div>
                    <div class="formgrid grid">
                        <div class="field col">
                            <p-chip label="Balance" styleClass="mr-2 custom-chip"></p-chip>
                            <p-chip [label]="balance" styleClass="mr-2 custom-chip"></p-chip>
                            <!-- <label for="firstname2">Bill Number</label>
                            <input id="disabled-input" type="text" pInputText [disabled]="disabled" [(ngModel)]="billNumber" /> -->
                        </div>
                    </div>
                </form>
            </div>
            <!-- <form [formGroup]="newBill">

      
        <span class="p-float-label">
            <input id="float-input" type="text" formControlName="billNumber" pInputText > 
            <label for="float-input">Username</label>
        </span>
      </form> -->
            <ng-template pTemplate="footer">
                <p-button icon="pi pi-check" (click)="newBillDialog=false;save()" label="Yes" class="p-button-text"></p-button>
                <p-button icon="pi pi-times" (click)="newBillDialog=false" label="No"></p-button>
            </ng-template>
        </p-dialog>
    </div>

</div>