<div class="card">
    <div class="card-container blue-container">
            <div class="flex flex-wrap align-items-center justify-content-center">
                <div class="box  shadow-8 m-3 login">
                    
                    <div class="card" style="padding: 100px;">  
                        <div class="field">
                            <label for="firstname1">UserName</label>
                            <input id="firstname1" type="text" class="inputfield w-full" style="height: 40px;">
                        </div>
                        <div class="field">
                            <label for="lastname1">Password</label>
                            <input id="lastname1" type="text" class="inputfield w-full" style="height: 40px;">
                        </div>
                        <div class="field">
                            <div class="flex justify-content-center flex-wrap card-container yellow-container">
                                <button pButton pRipple type="button" label="Login" class="p-button-rounded" (click)="login()"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
   
</div>
